<h1>Welcome</h1>
<p><%= link_to "This", game_path  %> is the beta version of a little game developed in javascript using the HTML5 canvas.</p>
<p>As it's still a beta game, new levels will be added every two or three days and the databases will be erased regularly...</p>
<h2>News</h2>
 <% article = New.order("created_at DESC") %>
  <% i=1 %>
  <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Title</th>
                  <th>Content</th>
                </tr>
              </thead>
              <tbody>
                <% for s in article %>
                <tr>
                  <td><%= i %></td>
                  <td><%= s.created_at.strftime("%m/%d/%Y") %></td>
                  <td><%= s.titre %></td>
                  <td><%= s.contenu %></td>
                </tr>
                <% i = i + 1 %>
                <% end %>
               </tbody>
            </table>

